.sky-background {
  /* Backgrounds don't need to have parallax scrolling, so they don't
     need to be as wide as the clouds, which do scroll. But we can't
     have it wider than the viewport, because there's a rendering bug
     in Chrome where if stars.svg is in a div that's too wide, it's
     rendered pixellated for some reason. */
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100%;
}

/* Give the react-spring animations smooth transitions */
.sky-background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: opacity;
}


.mobycon-plane {
  animation: MoveUpDown 10s forwards infinite;
  height: 500px;
  width: 500px;
  left: 50vw;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../../../../public/images/mobycon-plane.png");
  background-size: 150px;
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0px;
  }

  50% {
    bottom: 40px;
  }
}
